#########################################################################
###
# PROXYCONFIG for setting environment variables on proxies in different
# nodes.
###
#########################################################################
apiVersion: networking.istio.io/v1beta1
kind: ProxyConfig
metadata:
  name: east-proxyconfig
  namespace: default
spec:
  selector:
    matchLabels:
      region: us-east-1
  environmentVariables:
    ISTIO_META_REGION: "us-east-1"
---
apiVersion: networking.istio.io/v1beta1
kind: ProxyConfig
metadata:
  name: west-proxyconfig
  namespace: default
spec:
  selector:
    matchLabels:
      region: us-west-1
  environmentVariables:
    ISTIO_META_REGION: "us-west-1"
---
apiVersion: networking.istio.io/v1beta1
kind: ProxyConfig
metadata:
  name: central-proxyconfig
  namespace: default
spec:
  selector:
    matchLabels:
      region: us-central-1
  environmentVariables:
    ISTIO_META_REGION: "us-central-1"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: shared-span-bootstrap-config
  namespace: default
data:
  custom_bootstrap.json: |
    "tracing": {
      "http": {
        "name": "envoy.tracers.zipkin",
        "typed_config": {
          "@type": "type.googleapis.com/envoy.config.trace.v3.ZipkinConfig",
          "collector_cluster": "zipkin",
          "collector_endpoint": "/api/v1/spans/custom",
          "collector_endpoint_version": "HTTP_JSON",
          "trace_id_128bit": true,
          "shared_span_context": true
        }
      }
    }

